.navbar {
  background-color: #DF6E1A;
  padding: 1em 2.5em;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.css-yz9k0d-MuiInputBase-input {
padding-top: 10px;
}

