:root {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f6f6f8;
}
* {
  font-family: "aptos";
  margin: 0px;
}
@font-face {
  font-family: "aptos";
  src: local("aptos"), url("./fonts/aptos-bold.ttf") format("truetype");
}
